<%- include('header'); -%>
<h1>about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod adipisci voluptate nesciunt velit modi! Dolore minima
    sed quae sit autem laudantium odio nesciunt adipisci illum aperiam, molestiae beatae fugiat facere?</p>
<%- include('footer'); -%>